.home {
  background-color: #353535;
}
/* .home .div-2 {
  background-color: #353535;
  height: 1962px;
  position: relative;
  width: 1512px;
}
.home .group-2 {
  top: 200px;
  width: 1380px;
  position: absolute;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home .design-component-instance-node {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}
.home .group-3 {
  left: 1080px !important;
  position: absolute !important;
  top: 0 !important;
}
.home .group-instance {
  left: 720px !important;
  position: absolute !important;
  top: 0 !important;
}
.home .group-3-instance {
  left: 360px !important;
  position: absolute !important;
  top: 0 !important;
}
.home .group-4 {
  height: 350px;
  left: 66px;
  position: absolute;
  top: 290px;
  width: 1380px;
}
.home .footer {
  background-color: #2b2b2b;
  height: 368px;
  left: 0;
  position: absolute;
  top: 1591px;
  width: 1512px;
}
.home .text-wrapper-4 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 131px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 43px;
}
.home .informasi-layanan {
  height: 151px;
  left: 648px;
  position: absolute;
  top: 44px;
  width: 214px;
}
.home .text-wrapper-5 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}
.home .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 101px;
  left: 0;
  position: absolute;
  top: 50px;
  width: 203px;
}
.home .text {
  align-self: stretch;
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}
.home .span {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
}
.home .contact {
  height: 107px;
  left: 1209px;
  position: absolute;
  top: 44px;
  width: 176px;
}
.home .flexcontainer-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 64px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 152px;
}
.home .text-wrapper-6 {
  color: #00000080;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 659px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 275px;
}
.home .whatsapp {
  height: 35px;
  left: 131px;
  object-fit: cover;
  position: absolute;
  top: 94px;
  width: 35px;
}
.home .instagram {
  height: 35px;
  left: 206px;
  object-fit: cover;
  position: absolute;
  top: 94px;
  width: 35px;
}
.home .facebook {
  height: 35px;
  left: 281px;
  object-fit: cover;
  position: absolute;
  top: 94px;
  width: 35px;
} */
