
.footer {
    background-color: #2b2b2b;
    /* height: 368px;
    left: 0;
    position: absolute;
    top: 1591px;
    width: 1512px; */
  }

  .text-wrap-5 {
    color: #fffdfd;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 50px;
  }